~/git-projects/*

.gitconfig

.CFUserTextEncoding
.RSA/
.Trash/
.account
.android/
.ant/
.anyconnect
.atom/
.bash_history
.bash_profile.macports-saved_2016-09-28_at_21:19:55
.bash_sessions/
.config/
.cups/
.eclipse/
.gitignore_global
.gitkraken/
.green-tailweb.sh.swp
.hgignore_global
.ivy2/
.lesshst
.m2/
.node_repl_history
.npm/
.npmrc
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.sonarlint/
.sqlite_history
.ssh/
.subversion/
.teamocil/
.tldr/
.vagrant.d/
.vault/
.vim/
.viminfo
.z
.zcompdump-LM5000031266-5.0.8
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
Alfresco-SolrReport-Preview-20170330.pdf
Alfresco-SolrReport-Production-20170330-1.pdf
Alfresco-SolrReport-Production-20170330.pdf
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
GetAEMContent.java
IdeaProjects/
Library/.localized
Library/Accounts/
Library/Application Support/
Library/Autosave Information/
Library/Caches/
Library/Calendars/
Library/Compositions/
Library/Containers/
Library/Cookies/
Library/CoreFollowUp/
Library/Developer/
Library/Dictionaries/
Library/Favorites/
Library/FontCollections/
Library/Fonts/
Library/Google/
Library/Group Containers/
Library/IdentityServices/
Library/Input Methods/
Library/Internet Plug-Ins/
Library/Keychains/
Library/KeyBindings/.DefaultKeyBinding.dict.swp
Library/LanguageModeling/
Library/LaunchAgents/
Library/Logs/
Library/Mail/
Library/Messages/
Library/Preferences/
Library/Printers/
Library/PubSub/
Library/Python/
Library/Safari/
Library/Saved Application State/
Library/Spelling/
Library/Suggestions/
Library/SyncedPreferences/
Library/VirtualBox/
Library/WebKit/
Library/com.apple.nsurlsessiond/
META-INF/
Movies/
Music/
Pictures/
Public/
PycharmProjects/
SolrIssue/
Switches/
Switches_ReadOnly-25.jar
VirtualBox VMs/
Workspaces/
alfresco.log.2016-10-31
alfresco_expired_content_warning.sh
alfresco_expired_events_delete.sh
bash_profile
bm-tmp/
dev-tailalf.sh
dev-tailweb-all.sh
dev-tailweb.sh
eclipse/
git-projects/
green-tailalfresco.sh
green-tailshare.sh
green-tailweb.sh
launchEclipse.sh
mv-bkp/
net/
node_modules/
preview-tailalf.sh
preview-tailweb.sh
svn-projects/
tmp
tmux-green.sh
tmux-preview.sh
vm/
