~/git-projects/*

.gitconfig

.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
bash_profile

freemind/
.freemind/

.ICEauthority
.IdeaIC2017.1/
.Private
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.ecryptfs
.fonts/
.gksu.lock
.gnome/
.gconf/
.java/
.linuxbrew/
.linuxmint/
.local/
.mono/
.mozilla/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.nvm/
.oh-my-zsh/
.pki/
.profile
.recently-used
.ssh/
.sudo_as_admin_successful
.thunderbird/
.tldr/
.viminfo
.xsession-errors
.zcompdump
.zcompdump-clive-5.1.1
.zshrc.swp
git-projects/
intellij/
node_modules/

.steam/
.steam*
Steam/

.gimp*

# node, mongo, robomongo, mongo compass
.3T/
.dbshell
.mongo*
.node*
.npm*
.babel.jso

# random crap
.eclipse/
.oracle_jre_usage/
.p2/
.swt/
.thumbnails/
.v8flags.4.5.103.35.0a909ffe7be1ffe2ec130aa243a64c26.json
.vscode/
Videos/
agt.sh
color-scripts/
rupees.sh
stmongo.sh
sts-bundle/
teeth/
.babel.json
.IdeaIC2017.2/
.m2/
package-lock.json
.asunder*
.cddbslave/
.ripperXrc

